// Specific CSS for your home-page
.home-background {
  background-image: url('homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  align-content: center;
  justify-items: center;
}

.logo-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centre le conteneur horizontalement */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.landing-container {
  text-align: center;
}

.block-signup {
  background-color: #f3f6ff;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre verticalement les éléments */
  align-items: center; /* Centre horizontalement les éléments */
}
 .block-button{
  width: 70vw;
 }

.swipe {
  background-image: url('homepage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
