.sidebar-link {
  text-decoration: none;
}

.icon-sidebar {
  margin-right: 10px;
  color: #6C60E0;
}

.offcanvas-body {
  display: block;
}

.sidebar-element {
  display: flex;
  margin-bottom: 1px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
