
<div class="swipe" data-controller="swiper">
<%= current_user.username %>
  <div class="swipe__status">
    <i class="swipe__button--refuse fa-solid fa-ban"></i>
    <i class="swipe__button--accept fa-solid fa-circle-check"></i>
  </div>

  <div class="swipe__cards">
  <% @users.each do |user| %>
    <div id="<%= user.id %>" class="swipe__card border border-2 shadow" data-swiper-target="card">
      <div class="swipe__card__box">
        <%= render "shared/avatar", user: user %>
        <button class="shadow" data-swiper-target="follow" data-action="click->swiper#clickFollow"><i class="text-secondary fa-solid fa-bookmark"></i></button>
        <div class="swipe__card__body text-start py-2 px-4">
          <h3 class="text-light fw-bold"><%= user.username %></h3>
        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="swipe__buttons d-none d-lg-block">
    <button data-swiper-target="refuse" data-action="click->swiper#clickRefuse" ><i class="swipe__button--refuse fa fa-remove"></i></button>
    <button data-swiper-target="accept" data-action="click->swiper#clickAccept" ><i class="swipe__button--accept fa fa-check"></i></button>
  </div>

</div>
