<div class="container mt-3 mb-9">

  <ul class="nav nav-pills p-2 bg-primary-subtle rounded-pill d-flex mx-auto justify-content-between w-75" id="match" role="tablist">
      <li class="nav-item" style="min-width:40%" role="presentation">
        <button class="nav-link active rounded-pill"
                id="match-send-tab"
                data-bs-toggle="pill"
                data-bs-target="#match-send"
                type="button"
                role="tab"
                aria-controls="match-tab-send"
                aria-selected="true">
          Sent
          <% unless @likeds.empty? %>
            (<%= @likeds.length %>)
          <% end %>
        </button>
      </li>
      <li class="nav-item" style="min-width:40%" role="presentation">
        <button class="nav-link rounded-pill"
                id="match-received-tab"
                data-bs-toggle="pill"
                data-bs-target="#match-received"
                type="button"
                role="tab"
                aria-controls="match-tab-received"
                aria-selected="false">
          Received
          <% unless @likers.empty? %>
            (<%= @likers.length %>)
          <% end %>
        </button>
      </li>
  </ul>

  <div class="my-3"></div>

  <div class="tab-content" id="match-content">
    <div class="tab-pane fade show active"
          id="match-send"
          role="tabpanel"
          aria-labelledby="match-tab-send"
          tabindex="0">
      <%= render 'users/users', like_list: @likeds, current_user_wanted_skills: @current_user_skills_preference[:wanted], status: "sent" %>
    </div>
    <div class="tab-pane fade"
          id="match-received"
          role="tabpanel"
          aria-labelledby="match-tab-received"
          tabindex="0">
      <%= render 'users/users', like_list: @likers, current_user_wanted_skills: @current_user_skills_preference[:wanted], status: "received" %>
    </div>
  </div>
</div>
