<%# <div class="swipe__buttons" data-controller="likes">
    <button data-swiper-target="refuse" data-action="click->swiper#handleDislike" ><i class="swipe__button--refuse fa-solid fa-thumbs-down button-interaction"></i></button>
    <button data-swiper-target="accept" data-action="click->swiper#handleRelike" ><i class="swipe__button--accept fa-solid fa-thumbs-up button-interaction"></i></button>
</div> %>
