<% links = [
  {icon: "fa-solid fa-location-pin", path: "#"},
  {icon: "fa-solid fa-location-pin", path: "#"},
  {icon: "fa-solid fa-location-pin", path: "#"},
  {icon: "fa-solid fa-location-pin", path: "#"},
  {icon: "fa-solid fa-location-pin", path: "#"},
] %>

<div class="navbar fixed-bottom navbar-bottom bg-secondary">
  <div class="grid">
    <% links.each do |link| %>
      <div class="nav-item text-center">
        <%= link_to link[:path] do %>
          <i class="fs-1 <%= "#{link[:icon]}" %>"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
