<%=   links = [
    {icon_inactive: "icons/home-empty.png", icon_active: "icons/home-full.png", path: "/categories"},
    {icon_inactive: "icons/card-empty.png", icon_active: "icons/card-full.png", path: "/users"},
    {icon_inactive: "icons/reverse.png", icon_active: "icons/reverse.png", path: "/likes"},
    {icon_inactive: "icons/chat-empty.png", icon_active: "icons/chat-full.png", path: "/matchs"},
    {icon_inactive: "icons/notif-empty.png", icon_active: "icons/notif-full.png", path: "/notifications"},
  ] %>
<div class="navbar fixed-bottom navbar-bottom bg-white rounded-top-5 shadow-sm bg-body-tertiary rounded">
  <div class="grid" data-controller="navbar-bottom">
    <% links.each do |link| %>
    <% img_path = link[:path].include?(params[:controller]) ? link[:icon_active] : link[:icon_inactive] %>
      <div class="nav-item text-center">
        <%= link_to link[:path] do %>
        <%= image_tag img_path, alt:"Icon", class:"navbar-icon" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
