<div class="home-background">

  <div class="landing-container">
    <h1>Welcome to Skill Match</h1>
    <br>
    <p>Match with your next skill ✨</p>
  </div>

  <div class="block-button mt-3 p-5">
    <div class="logo-signup">
      <%= image_tag 'logo-outline.png', alt: 'logo skillmatch', class: "logo-signup"%>
    </div>
    <div class="container home-container mt-8">
      <%= link_to "Sign up", new_user_registration_path, class: "button-landing" %>

      <%= link_to "Login", user_session_path, class: "button-landing" %>

      <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-home" %>
    </div>
  </div>
</div>
