<div class="top">
  <h3>Select your skill(s)</h3>
</div>
<div class="skills-container">
  <% @categories.each do |category| %>
  <div class="skill-tag"><%= category.name %></div>
  <div><% category.skills.each do |skill| %></div>
    <div><%= skill.name %></div>
  <% end %>
  <% end %>
</div>
