/* FOR THE AUTOCOMPLETE */
.autocomplete-suggestions {
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.autocomplete-suggestion {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-suggestion:hover {
  background-color: #f0f0f0;
}
