.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-bottom .grid {
  width:100vw;
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.navbar-bottom div:nth-of-type(3) {
  position: relative;
}

.navbar-bottom div:nth-of-type(3) a {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  top: -2rem;
  position: absolute;
  border-radius: 50%;
  display: grid;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.navbar-bottom div:nth-of-type(3) a img {
  margin: auto;
  width: 62px !important;
  height: 62px !important;
}

.navbar-avatar {
  z-index: 999;
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
}

.offcanvas-sidebar {
  width: 75vw;
  max-width: 300px;
}

.offcanvas-sidebar a {
  display: block;
}

.navbar-icon {
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
}

.navbar-label {
  font-size: 11px;
  color: #666;
  margin-top: 4px;
  color: #6C60E0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
