<div class="subscription-step">
  <div class="progress-bar">
    <div class="progress-bar-fill" style="width: 33.33%;"></div>
  </div>

  <h2>Welcome <%= current_user.username.capitalize %>! <span>👋</span></h2>
  <h3>Step 2: Select your skill’s categories</h3>

  <%= simple_form_for :categories, url: new_user_profile_form_skill_path, method: :get do |f| %>
    <%= f.input :name,
              as: :check_boxes,
              collection_wrapper_tag: 'div',
              collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item mb-3',
              input_html: {class: 'category-selector'},
              collection: @categories %>

    <%= f.submit "Next Step" %>
  <% end %>
</div>
